<script type="text/javascript" src="../public/assets/js/about.js"></script>

<div class="columns">
    <div class="column">
        <img src="https://avatars0.githubusercontent.com/u/24307549?s=460&v=4" id="liana">
        <p>
            Hi I'm Liana!
    </div>
    <div class="column">
        <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/11205990_1117734701575073_5492004762320785066_n.jpg?_nc_cat=0&oh=a104df2c5a39c1a7ab7b986dcd980604&oe=5B7920AF" id="shamique">
        <p>
            Hi I'm Shamique!
    </div>
    <div class="column">
        <img src="https://avatars2.githubusercontent.com/u/33266092?s=460&v=4" id="kristian">
        <p>
            Hi I'm Kristian!!
        </p>
    </div>
</div>