<form>
    <div class="form-group">
        <label for="summary">Event name: </label>
        <input type="text" class="form-control" id="summary" placeholder="Whats the event name?">
    </div>
    <div class="form-group">
        <label for="location">Location: </label>
        <input type="text" class="form-control" id="location" placeholder="Where is the event?">
    </div>
    <div class="form-group">
        <label for="startTime">Start Time: </label>
        <input type="time" class="form-control" id="startTime" placeholder="What time does the event start? (ex: HH:MM)">
    </div>
    <div class="form-group">
        <label for="startDate">Start Date: </label>
        <input type="date" class="form-control" id="startDate" placeholder="What day does it start? (ex: DD:MM:YYYY)">
    </div>
    <div class="form-group">
        <label for="endTime">End Time: </label>
        <input type="time" class="form-control" id="endTime" placeholder="What time does the event end? (ex: HH:MM)">
    </div>
    <div class="form-group">
        <label for="endDate">End Date: </label>
        <input type="date" class="form-control" id="endDate" placeholder="What day does it end? (ex: DD:MM:YYYY)">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    $("button").on("click", function (event) {
        event.preventDefault();
        var summary = $("#summary").val().trim();
        var location = $("#location").val().trim();
        var startTime = $("#startTime").val().trim();
        var startDate = $("#startDate").val().trim();
        var endTime = $("#endTime").val().trim();
        var endDate = $("#endDate").val().trim();
        var startDateTime = startDate + "T" + startTime + ":00.000-04:00";
        var endDateTime = endDate + "T" + endTime + ":00.000-04:00";

        var resource = {
            "summary": summary,
            "location": location,
            "start": {
                "dateTime": startDateTime,
            },
            "end": {
                "dateTime": endDateTime,
            },
            "colorId": "10",
            "reminders": {
                "useDefault": false,
                "overrides": [
                    {
                        "method": "popup",
                        "minutes": 10
                    }
                ]
            }
        };
        getResource(resource);
        window.location.href="/calendar";
    });

    var getResource = function (resource) {
        $.ajax({
            method: "POST",
            url: "/api/addEvent",
            data: {
                resource: resource
            }
        }).then(function (response) {
            console.log(response);
        })
    };
</script>