<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="http://images.all-free-download.com/images/graphiclarge/round_clock_icon_6813527.jpg" alt="Tick Tock (placeholder)" width="100" height="40">
    </a>
  </div>
</nav>

<div class="container">
    <h1>Page Title</h1>
    <p>Could work! ¯\_(ツ)_/¯</p>

    {{#each users}}
    <p>Demo username from database: {{username}}</p>
    <p>Demo password from database: {{password}}</p>
    {{/each}}
</div>