<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img {{!-- temporary image --}} src="http://images.all-free-download.com/images/graphiclarge/round_clock_icon_6813527.jpg"
                alt="Tick Tock (placeholder)" width="100" height="40">
        </a>
    </div>
   <div class="dropdown">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Dix</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="#" class="dropdown-item">
                        Calendar
                    </a>
                    <a class="dropdown-item">
                        Settings
                    </a>
                    <a href="#" class="dropdown-item is-active">
                        Contact Us!
                    </a>
                    <a href="../public/About.html" class="dropdown-item">
                       About us
                    </a>
                </div>
            </div>
        </div>
</nav>
<br>
<div class="container">
    <img id="gitdone" src="http://dm.greenville.edu/wp-content/uploads/2017/11/Getting-Stuff-Done-Since-2004.png" alt="Getting Stuff Done">
    <h1 id="header">Get up, get organized, get there on time!</h1>
    <br>
    <p>Get shit done!</p>

    <br> 

    <hr>

    <!--Add buttons to initiate auth sequence and sign out-->
    {{!-- <button id="authorize-button" onclick="location.href='/calendar'">Sign In</button> --}}
    <a href="/auth/google">Sign In with Google</a>
     <script>
        var dropdown = document.querySelector('.dropdown');
        dropdown.addEventListener('click', function (event) {
            event.stopPropagation();
            dropdown.classList.toggle('is-active');
        });
    </script>

</div>