<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="http://images.all-free-download.com/images/graphiclarge/round_clock_icon_6813527.jpg" alt="Tick Tock (placeholder)" width="100" height="40">
    </a>
  </div>
</nav>

<div class="container">
    <h1>Page Title</h1>
    <p>Could work! ¯\_(ツ)_/¯</p>

    {{#each users}}
    <p>Demo username from database: {{username}}</p>
    <p>Demo password from database: {{password}}</p>
    {{/each}} 
    {{!-- Creates the google sign in button and links to onSignIn function --}}
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    {{!-- Creats the sign out button and links to signOut function --}}
    <a href="#" onclick="signOut();">Sign out</a>

    <script>

        // Signs in the user and logs their profile info 
        // and sets their Google ID to an id token to be sent to backend server.
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var id_token = googleUser.getAuthResponse().id_token;
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }

        // Signs out the user. Userinfo cached at this time so it auto signs in next time.
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>

</div>