<h1>Welcome to the Super Secret Page!</h1>
<h3>Your name is {{user.display_name}} and we only know that because you are logged in!</h3>

<a href="/logout">Logout</a>
<br>
<a href="/auth/google/calendar">View Calendar</a>

<pre id="content"></pre>    

