<br>
<div class="container">
    <div id="timerInfo">
        <p id="1">Here you can track the time it takes for you to complete certain activities!</p>
        <p id="2">Input the type of activity you would like to record, and then start the timer!</p>
        <p id="3">Once you are done the activity, stop the timer! We will record this activity info for later.</p>
        <p id="4">Once we have enough info for you, will we add reminders to your calendar around scheduled events that will alert you when you need to perform the activity before or after the event! It's that easy!</p>
    </div>

    <div id="timer">00:00</div>

    <br>
    <a class="button is-success" id="start">Start</a>
    <a class="button is-danger" id="done">Done</a>

</div>