<br>
<div class="container">
    <img id="gitdone" src="http://dm.greenville.edu/wp-content/uploads/2017/11/Getting-Stuff-Done-Since-2004.png" alt="Getting Stuff Done">

    <div id="timer">00:00</div>

    <h1 id="header">Get up, get organized, get there on time!</h1>
    <br>
    <p>Get shit done!</p>

    <br>
    <a class="button is-success" id="start">Start</a>
    <a class="button is-danger" id="done">Done</a>

</div>