.container {
    text-align: center;
}

#signInButton {
    text-align: center;
    display: flex; 
    justify-content: center;
}

#timer {
    font-size: 100px;
}


#logo {
    size: 1000px;
}

.calButton {
    border: none;
    border-radius: 12px;
    margin: 0px, 10px, 10px, 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.4s;
    float: left;
}

#signout-button {
    background-color: red;
}

#addEvent {
    background-color: blue;
}

#addActivity {
    background-color: green;
}

.calButton:active {
    transform: translateY(4px);
}

#addEvent:hover {
    background-color: #000080;
}

#signout-button:hover {
    background-color: #aa3311;
}

#addActivity:hover {
    background-color: #006400;
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
    
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}